/* General styles */
body, html {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden; /* Tambahkan ini untuk mencegah geser horizontal */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #FFFFFF;
    color: #27374E;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header .logo-container {
    display: flex;
    align-items: center;
    margin-left: 2%
}

header .logo {
    height: 50px;
    margin-right: 10px;
}

header .site-title {
    margin: 0;
    font-size: 24px;
    line-height: 50px;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 10%;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #27374E;
    text-decoration: none;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}

header nav ul li a:hover,
header nav ul li a.active {
    background: #27374E;
    color: #ffffff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 100px 0 50px 0; /* Adjusted padding to account for fixed header */
    background-color: #FFFFFF;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.hero .btn {
    background: #27374E;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
    margin-bottom: 20px;
}

.hero .btn:hover {
    background: #9CB2BF;
}

.hero-image-section {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #FFFFFF;
}

.hero-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.category-section {
    padding: 20px 0; /* Tambahkan padding atas dan bawah */
    text-align: center;
    width: 100%;
    margin-top: 20px; /* Sesuaikan margin atas untuk memberikan jarak dari header */
}

.category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
    padding: 0 72px; /* Tambahkan padding untuk jarak kanan dan kiri */
}

.category-header .category-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.category-description {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.category-more {
    font-size: 14px;
    color: #27374E;
    text-decoration: none;
    margin-left: auto; /* Pastikan elemen more berada di sebelah kanan */
    padding: 10px; /* Tambahkan padding agar terlihat lebih jelas */
}

.category-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 72px;
    cursor: grab;
    scrollbar-width: none; /* Firefox */
}

.category-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.category-card {
    flex: 0 0 auto; /* Agar kartu tidak mengecil */
    max-width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 72px;
    text-align: center;
    transition: transform 0.2s;
    border-radius: 10px;
    
}

.category-card img {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category-card h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
}

.category-card:hover {
    transform: translateY(-10px);
}

.trending-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 48px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.2s;
}

.card img {
    max-width: 349px;
    max-height: 447px;
    border-radius: 12px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
}

.card p {
    font-size: 16px;
    color: #777;
}

.card:hover {
    transform: translateY(-10px);
}

/* Styles for article section */
.article-section {
    padding: 62px 0; /* Tambahkan padding atas dan bawah */
    text-align: center;
    width: 100%;
    margin-top: 20px; /* Sesuaikan margin atas untuk memberikan jarak dari kategori */
    
}

.article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
    padding: 0 72px; /* Tambahkan padding untuk jarak kanan dan kiri */
}

.article-header .article-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.article-description {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.article-more {
    font-size: 14px;
    color: #27374E;
    text-decoration: none;
    margin-left: auto; /* Pastikan elemen more berada di sebelah kanan */
    padding: 10px; /* Tambahkan padding agar terlihat lebih jelas */
}

.article-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 72px;
    cursor: grab;
    scrollbar-width: none; /* Firefox */
}
.article-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.article-card {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: calc(33.333% - 40px); /* Ukuran yang sama untuk semua kartu */
    box-sizing: border-box;
    text-align: left;
    transition: transform 0.2s;
    display: inline-block;
    min-width: 300px;
    margin-right: 20px;
    white-space: normal;
}

.article-card img {
    width: 100%;
    height: 200px; /* Tetapkan tinggi yang tetap untuk semua gambar */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.article-card h3 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
}

.article-card p {
    font-size: 14px;
    color: #777;
}

.article-card a {
    font-size: 14px;
    color: #27374E;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.article-card:hover {
    transform: translateY(-10px);
}
/* Grid container styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 200px;
    justify-content: center;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.2s;
}

.grid-item img {
    width: 100%;
    height: 320px;
    border-radius: 5px;
}

.grid-item h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.grid-item p {
    font-size: 1em;
    margin: 10px 0;
}

.grid-item a {
    color: #060606;
    text-decoration: none;
}

.grid-item a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}



.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    width: 30%; /* Sesuaikan lebar sesuai kebutuhan */
    margin: 10px; /* Tambahkan margin untuk spasi */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch; /* Stretch untuk membuat kartu seragam */
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-footer {
    margin-top: auto; /* Push footer ke bawah */
}






footer {
    background: #27374E;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.container-footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons a {
    margin: 0 10px;
}

.footer-icons img {
    width: 30px;
    height: 30px;
}

/* menambahkan rensponsif */
@media (max-width: 768px) {
    .category-card {
        flex: 1 1 calc(50% - 20px);
    }

    .category-header {
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    .category-card {
        flex: 1 1 100%;
    }

    .category-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .category-more {
        margin-left: 0;
        margin-top: 10px;
    }
}